.title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  color: #575757;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  list-style: none;

  .item {
    width: 30%;

    .button {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 16px 24px;
      width: 100%;
      height: 220px;
      outline: none;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: transparent;
      transition: all 0.4s;

      &:hover {
        border-color: #1890ff;

        .delete {
          font-size: 20px;

          .cross {
            > svg {
              fill: #ff3e3e;
            }
          }
        }

        .edit {
          font-size: 20px;

          .icon {
            > svg {
              fill: #1890ff;
            }
          }
        }
      }

      &_free {
        border-color: #188fff1b;
        background-color: #188fff1b;
      }

      &_new {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: all 0.4s;

        &:hover {
          border-color: #1890ff;
          cursor: pointer;

          .icon {
            > svg {
              fill: #1890ff;
            }
          }

          .text {
            color: #1890ff;
          }

        }

        .icon {
          font-size: 20px;
          transition: all 0.4s;

          > svg {
            fill: #575757;
          }
        }
  
        .text {
          font-size: 20px;
          color: #575757;
          transition: all 0.4s;
        }
      }

      .status {
        position: absolute;
        top: 8px;
        left: 16px;
        padding: 2px 10px; 
        background-color: #188fff38;
        border-radius: 34px;

        > span {
          font-weight: 600;
          font-size: 15px;
          color: #188fff4c;
        }
      }

      .edit {
        position: absolute;
        top: 8px;
        right: 52px;
        border: 1px solid transparent;
        border-radius: 5px;
        background-color: transparent;
        transition: all 0.4s;

        &:hover {
          border-color: #1890ff;
          cursor: pointer;
        }

        .icon {
          > svg {
            transition: all 0.4s;
            fill: transparent;
          }
        }
      }

      .delete {
        position: absolute;
        top: 8px;
        right: 12px;
        border: 1px solid transparent;
        border-radius: 5px;
        background-color: transparent;
        transition: all 0.4s;

        &:hover {
          border-color: #ff3e3e;
          cursor: pointer;
        }

        .cross {
          > svg {
            transition: all 0.4s;
            fill: transparent;
          }
        }
      }

      .name {
        font-size: 28px;
        font-weight: 500;
        color: #575757;
        text-align: center;
        line-height: 1;
      }

      .role {
        font-style: 18px;
        font-weight: 300;
        color: #8e8e8e;
        text-align: center;
        line-height: 1;
      }
    }
  }
}